$mainBG: #1A1A1A;
$secondaryBG:#0D0D0D;
$addButton:#1E6F9F;
$addButtonHover: #4EA8DE;
$taskTextColor:#4EA8DE;
$taskDoneColor:#8284FA;
$mainTextColor:#808080;
$secondaryTextColor:#F2F2F2;
$inputBG:#262626;
$inputBorder:#0D0D0D;
$taskItemBG:#262626;
$taskshadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
$taskBorder:#333;
$checked: #5E60CE;